MOODLE_IMAGE_TAG=5.0.2
MOODLE_HOST=moodle.midominio.com

MOODLE_DATABASE_TYPE=pgsql
MOODLE_DATABASE_NAME=moodle
MOODLE_DATABASE_USER=moodle
MOODLE_DATABASE_PASSWORD=change_me
POSTGRES_PASSWORD=change_me

MOODLE_ADMIN_USERNAME=admin
MOODLE_ADMIN_PASSWORD=change_me
MOODLE_ADMIN_EMAIL=admin@example.com

REDIS_PASSWORD=change_me

MOODLE_SMTP_HOST=smtp.example.com
MOODLE_SMTP_PORT_NUMBER=587
MOODLE_SMTP_USER=user
MOODLE_SMTP_PASSWORD=change_me
MOODLE_SMTP_PROTOCOL=tls

BACKUP_RETENTION_DAYS=7
